/* CSS Document */
div.p_acb-banner {
opacity:0.94;
width:100%;
padding:10px;
position:fixed;
left:0;
color:@ini_text_alt;
background-color:@ini_background_alt;
z-index:1000;
box-shadow: 0 0 10px @ini_text_alt;}
div.p_acb-top {top:0;}
div.p_acb-bottom {bottom:0;}

.p_acbdetails,
.p_acbshow,
.p_acbhide:target {display: none;}
.p_acbhide:target + .p_acbshow,
.p_acbhide:target ~ .p_acbdetails {display: block;}

// vim:ts=4:sw=4:et:
